/* General Navbar Styling */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.gymmer{
  text-shadow: 2px 2px 2px rgb(185, 16, 4);
}

.dark-nav {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  z-index: 20; /* Ensure it is above other elements */
}

.nav-links a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}



.nav-links a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff0000;
  top: 100%;
  left: 0;
  transition: width 0.3s;
}

.nav-links a:hover::before {
  width: 100%;
}

/* Join Button */
.join-btn {
  /* background-color: #ff4500; */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 30; /* Ensure it is above other elements */
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

/* Mobile Menu */
.nav-links.open {
  transform: translateX(0);
  z-index: 20; /* Ensure it is above the overlay */
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #111;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 20; /* Ensure it is clickable */
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 15; /* Below the nav-links */
  }

  .join-btn {
    width: 100%;
    text-align: center;
  }
}


@media (max-width: 1024px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #111;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 20; /* Ensure it is clickable */
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 15; /* Below the nav-links */
  }

  .join-btn {
    width: 100%;
    text-align: center;
  }
}
